    {% extends 'base.html' %}

    {% block content %}
 
<h1>Cadastro de Time:</h1>
    <hr />
    <form action="{{url_for('newteam')}}" method="POST">
      <label>Nome:</label>
      <input type="text" name="name"/>
      <label>Divisão:</label>
      <input type="text" name="division"/>
      <label>Títulos:</label>
      <input type="text" name="title" />
      <br>
      <br>
      <input type="submit" value="Cadastrar" class="btn btn-success"/>
    </form>
    <br />
    <hr />
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Divisão</th>
        <th>Títulos</th>
      </tr>
      {% for team in teamlist %}
      <tr>
        <td>{{team.Nome}}</td>
        <td>{{team.Divisão}}</td>
        <td>{{team.Títulos}}</td>
      </tr>
      {% endfor %}
    </thead>
    </table>
    {% endblock content %}