{% extends 'base.html' %} 

{% block content %}

<div class="container" style="background-color: #f0f0f0; border-radius: 8px">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="card">
        <img src="{{teaminfo.strBadge}}" alt="Imagem do Time" />
        <div class="card-body m-auto">
          <h3>Nome: {{teaminfo.strTeam}}</h3>
          <p>Ano de Fundação: {{teaminfo.intFormedYear}}</p>
          <p>Localidade: {{teaminfo.strLocation}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
