{% extends 'base.html' %} 

{% block content %}

<div class="container my-5">
  <h2>Cadastro de Times</h2>
  <br>
  <details>
    <summary>[ Cadastrar novo Time]</summary>
    <br>
    <div class="col-md-4">
      <form action="{{url_for('newteam')}}" method="POST">
        <input
          type="text"
          name="time"
          placeholder="Time"
          class="form-control"
          required
        />
        <br>
        <input
          type="text"
          name="divisao"
          placeholder="Divisão"
          class="form-control"
          required
        />
        <br>
        <input
          type="number"
          name="titulos"
          placeholder="Títulos"
          class="form-control"
          required
        />
        <br>
        <input type="text" name="estadio" placeholder="Estádio" class="form-control" required>
        <br>
        <input type="submit" value="Cadastrar" class="btn btn-success" />
        <input type="reset" value="Limpar" class="btn btn-danger" />
      </form>
    </div>
  </details>
  <hr/>
  <h5>Times:</h5>
  <br>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Time</th>
        <th>Divisão</th>
        <th>Títulos</th>
        <th>Estádio</th>
        <th style="text-align: center;" colspan="2">Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for team in times.items %}
      <tr>
        <td>{{team.time}}</td>
        <td>{{team.divisao}}</td>
        <td>{{team.titulos}}</td>
        <td>{{team.estadio}}</td>
        <td style="text-align: center; width: 130px;"><a class="btn btn-warning" href="{{url_for('edit', id=team.id)}}">Editar</a></td>
        <td style="text-align: center; width: 130px;"><a class="btn btn-danger" href="{{url_for('newteam', id=team.id)}}" onclick="return confirm('Deseja mesmo excluir esse Time {{team.time}} ?')">Excluir</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p style="text-align: center;">
    {% if times.has_prev %}
    <a href="{{url_for('newteam', page=times.prev_num)}}"><< Anterior</a>
    {% endif %}
    {% if times.has_next %}
    <a href="{{url_for('newteam', page=times.next_num)}}">Próximo >></a>
    {% endif %}
  </p>
</div>
{% endblock content %}
